/* styles.css */

body {
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
}

h1 {
    color: lightseagreen;
    style: underline;
}

h2 {
    color: rgb(25, 137, 131);
    font-style: italic;
    
}

h3 {
    color: rgb(19, 90, 86);
    border-style: dotted;
    background-color: whitesmoke;
}

h4 {
    color:rgb(18, 74, 71);
}

p {
    color: rgb(4, 45, 43);
    line-height: 1.6;
    border-style: inset;
    background: whitesmoke;
    
}

a {
    color:rgb(114, 1, 24);
}

a:hover {
    color:yellow;
    background-color: black;
}

a:active {
    color:rgb(102, 4, 4);
    background-color: white;
    text-decoration-line: underline;
    text-decoration-color:rgb(102, 4, 4);

}

a:visited {
    color:blue;
}
button {
    padding: 10px 20px;
    background-color: lightseagreen;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    transition: all 0.3s ease;
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 15px rgba(0, 123, 255, 0.3); /* Optional: Add a shadow effect */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-10px);
    }
}

.kawaii {
    background-color:cornsilk;
    border-style:dotted;
    border-color:rgb(6, 61, 61);
    width:400px;
}

#Panda {
    background-color: rgb(185, 200, 226);
    border-style: dashed;
    border-color:black;
}

#Bubbletea {
    background-color: antiquewhite;
    border-style: solid;
    border-color:coral;
}

#Dinosaur {
    background-color:darksalmon;
    border-style:double;
    border-color:black;
}

#Animals {
    background-color: beige;
    border-style: groove;
    border-color:cadetblue;
}

#Cute-dog {
    background-color: lightcyan;
    border-style: dotted;
    border-color:firebrick;
}